div.panel {
    font-family            : "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    width                  : 800px;
    margin                 : 1em 0px;
    padding                : 1em;
    border                 : 1px solid black;
}

.govuk-table-s {
    font-size: 16px;
}
.govuk-body-s {
    font-size: 16px;
}